@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter-regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter-medium.woff2') format('woff2');
    font-weight: 500;
}

:root {
    --color-bg: #F1EFE8;
    --color-cards-bg: #FFFFFF;
    --color-text-primary: #2C2C2A;
    --color-text-secondary: #5F5E5A;
    --color-border: #D3D1C7;
    --color-accent: #085041;
    --color-danger: #B33A3A;
}

body.dark-mode {
    --color-bg: #2C2C2A;
    --color-cards-bg: #444441;
    --color-text-primary: #F1EFE8;
    --color-text-secondary: #B4B2A9;
    --color-border: #5F5E5A;
    --color-accent: #1D9E75;
    --color-danger: #E05D5D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text-primary);
}

.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 16.25rem;
    flex-shrink: 0;
    padding: 1.5rem 1rem;
    background-color: var(--color-cards-bg);
    border-right: 0.0625rem solid var(--color-border);
}

.sidebar img {
    margin-bottom: 1rem;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav a {
    display: flex;
    gap: 0.5rem;
    padding: 0.8rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--color-text-primary);
    transition: background-color 0.3s ease;
}

.sidebar nav a.active {
    background-color: var(--color-accent);
    color: var(--color-bg);
}

.sidebar nav a:hover {
    background-color: var(--color-bg);
}

#toggle-theme-btn {
    margin-top: auto;
}

#toggle-sidebar-btn,
#toggle-theme-btn {
    border: none;
    background: none;
    cursor: pointer;
}

#toggle-sidebar-btn {
    position: absolute;
    top: 2.5rem;
    right: -0.5rem;
    font-size: 1.1rem;
    color: var(--color-accent);
}

#toggle-theme-btn {
    display: flex;
    gap: 0.5rem;
    padding: 0.8rem;
    font-size: 1rem;
    color: var(--color-text-primary);
    transition: background-color 0.3s ease;
}

#toggle-theme-btn:hover {
    background-color: var(--color-bg);
}

main {
    flex: 1;
    padding: 2rem 3rem;
    overflow-y: auto;
}

h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

#new-client-btn,
#new-project-btn,
#new-task-btn {
    padding: 0.5rem 0.8rem;
    border: none;
    background-color: var(--color-accent);
    color: var(--color-bg);
    cursor: pointer;
    transition: filter 0.3s ease;
}

#new-client-btn:hover,
#new-project-btn:hover,
#new-task-btn:hover {
    filter: brightness(90%);
}

dialog {
    margin: auto;
    max-width: 30rem;
    border: none;
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: var(--color-cards-bg);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5)
}

label {
    display: block;
    margin-bottom: 0.4rem;
    font-size: 0.9rem;
    color: var(--color-text-primary);
}

input,
select,
textarea {
    width: 100%;
    padding: 0.25rem;
    border: solid 0.0625rem var(--color-border);
    border-radius: 0.3rem;
    font-family: inherit;
    margin-bottom: 1rem;
}

.btn-save,
.btn-cancel,
.btn-delete {
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
    font-family: inherit;
    font-size: 0.9rem;
    cursor: pointer;
    transition: filter 0.3s ease, background-color 0.3s ease;
}

.btn-save:hover,
.btn-delete:hover {
    filter: brightness(90%);
}

.btn-save {
    border: none;
    background-color: var(--color-accent);
    color: var(--color-bg);
}

.btn-cancel {
    background-color: transparent;
    border: 0.0625rem solid var(--color-border);
    color: var(--color-text-primary);
}

.btn-cancel:hover{
    background-color: var(--color-bg);
}

.btn-delete {
    border: none;
    background-color: var(--color-danger);
    color: var(--color-bg);
}






